<nav class="highlight-container">
  <div class="container">
  	<div class="tile is-ancestor">
  		<div class="tile is-12">

		  {% for post in paginator.posts %}
		    {% if post.top_one %}

		  			<a class="highlight-item" href="{{ site.baseurl }}{{ post.url }}">
					  	<div class="highlight-title">
					  		<div class="highlight-title-inner">
					  			<span>TOP</span>
					  			<span class="bold">STORIES</span>
					  		</div>
					  	</div>
		  				<div class="item-bg">
								<img src="{{post.image}}" />
								<div class="item-bg-overlay" style="background-color: {{ post.highlight_color }};"></div>
		  				</div>
		  				<div class="item-message">
		  					<h3 class="item-title">{{ post.title }}</h3>
		  					<h5 class="item-subtitle">{{ post.subtitle }}</h5>
		  				</div>
		  			</a>
		    {% endif %}
		  {% endfor %}
  		</div>
  	</div>
  	<div class="tile is-ancestor">
  		<div class="tile is-6">
		  {% for post in paginator.posts %}
		    {% if post.top_two %}
  			<a class="highlight-item is-small" href="{{ site.baseurl }}{{ post.url }}">
  				<div class="item-bg">
						<img src="{{post.image}}" />
								<div class="item-bg-overlay" style="background-color: {{ post.highlight_color }};"></div>
  				</div>
  				<div class="item-message">
  					<h3 class="item-title">{{ post.title }}</h3>
  					<h5 class="item-subtitle">{{ post.subtitle }}</h5>
  				</div>
  			</a>
		    {% endif %}
		  {% endfor %}
  		</div>
  		<div class="tile is-6">
		  {% for post in paginator.posts %}
		    {% if post.top_three %}
  			<a class="highlight-item is-small" href="{{ site.baseurl }}{{ post.url }}">
  				<div class="item-bg">
						<img src="{{post.image}}" />
								<div class="item-bg-overlay" style="background-color: {{ post.highlight_color }};"></div>
  				</div>
  				<div class="item-message">
  					<h3 class="item-title">{{ post.title }}</h3>
  					<h5 class="item-subtitle">{{ post.subtitle }}</h5>
  				</div>
  			</a>
		    {% endif %}
		  {% endfor %}
  		</div>
  	</div>
  </div>
</nav>