<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-logo" href="{{ site.baseurl }}/" title="Coladev.com">
				<img src="{{ site.baseurl}}/assets/images/logo.png">
			</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <div class="nav-item">
	      <a class="nav-menu-item" style="background: url({{ site.baseurl}}/assets/images/menu/blog.png)">
	      	<div class="nav-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
	      	<div class="nav-title">Blog</div>
	      </a>
      </div>
    </div>
  </div>
</nav>