.masthead {
	background-color: $white;
	border-bottom: 0;
	box-shadow: 0 1px 2px #EEE;
	.masthead-title {
		margin: 0 auto;
		padding: 1em;
		text-align: center;
		a {
			margin: 0 auto;
			display: inline-block;
		}
		img {
			max-width: 400px;
			width: 100%;
			margin-bottom: 0;
		}
	}
}