---
layout: default
---

<div class="post-page">
	
	<div class="post-bg">
		<div class="post-bg-img">
			<img src="{{page.image}}">
			<div class="post-bg-overlay" style="background-color: {{ page.highlight_color }};"></div>
		</div>
		<div class="post-heading">
			<h1 class="post-title">{{ page.title }}</h1>
		</div>
	</div>
	<div class="container">
		<span class="post-date">{{ page.date | date_to_string }}</span>
		{{ content }}
	</div>
</div>

	<div class="container">
<div class="share-page">
	<!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <!-- Your share button code -->
  <div class="fb-share-button" 
    data-href="{{ site.baseurl }}{{ page.url }}" 
    data-layout="button_count"
    data-size="large">
  </div>
</div>

<div class="author">
	<h4>Author</h4>
	<div class="profile">
		<div class="img"></div>
		<div class="info">
			<h4>Anonymous</h4>
			<p>Web Developer</p>
			<p>Nextzy Technology Co,. LTD.</p>
		</div>
	</div>
</div>

<div class="related">
	<h2>Related</h2>
	<div class="ralated-posts">
	{% for post in site.related_posts limit:3 %}
		<a href="{{ site.baseurl }}{{ post.url }}">
		<div class="post">
			<img src="{{post.image}}">
			<h2 class="post-title">
					{{ post.title }}
			</h2>

			<span class="post-date">{{ post.subtitle }}</span>
		</div>
	</a>
	{% endfor %}
	</div>
</div>

<div class="comments">
	<div id="disqus_thread"></div>
</div>
</div>

<script>
	
	var disqus_developer = 1;
	var disqus_config = function () {
		this.page.identifier = "{{site.baseurl}}{{ page.url }}";
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//coladev.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();

	(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8"
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
	</script>